.nx-nav {
  background-color: #548CEC;
  height: 40;
}

ActionBar {
    vertical-align: center;
}

.nx-nav-main{
    background-color: #4d75b8;
    padding: 0;
    margin: 0;
    height: 40;
}

.title {
    color: #ffffff;
    font-size: 20;

}

.nav-icon-text{
    margin-right: 10;
}

.nav-icon {
    font-size: 30;
    color: #ffffff;
}

.nav-icon-bold {
    font-weight: bold;
}

.highlight {

    border-width: 1;
    border-color: #000000;
    border-style: solid;
}