@import "app/theme/_app-variables.scss";

$header-primary-backgound-color: $background-color-primary;

$nav-background-color: $background-color-primary;
$nav-background-color1: darken($nav-background-color, 5% );
$nav-background-color2: darken($nav-background-color, 10% );

$nav-item-border-color: #c8c7cc;
$nav-margin: $primary-content-padding;
$font-color: $font-primary-title-color; 

$nav-border-color1: lighten($nav-background-color, 10% );
$nav-border-color2: lighten($nav-background-color, 20% );

.nx-nav {
  height: 40;
}

.nx-nav-wrapper {
    border-bottom-color: $nav-border-color2;
    border-bottom-width: 1;
    border-bottom-style: solid;
}
.nx-nav-row1 {
    padding: 0;
    margin: 0;
    background-color: $nav-background-color1;
}
.nx-nav-row2 {
    background-color: $nav-background-color2;
    
    border-bottom-color: $nav-border-color1;
    border-bottom-width: 1;
    border-bottom-style: solid;
}

.title {
    color: $font-color;
}