.nx-nav {
  background-color: #4d75b8;
}

ActionBar {
    background-color: #4d75b8;
}

.title {
    color: #ffffff;
    font-size: 20;

}

.nav-icon {
    font-size: 30;
    color: #ffffff;
}

.nav-icon-bold {
    font-weight: bold;
}

.v-center {
    vertical-align: center;
}