<nx-drawer>
    <competition-nav drawer-aside-left></competition-nav>
    
    <nx-nav>
        <label class="nx-header-title" text="Competition" style="horizontal-align:center"></label>
        <ion-icon nav-right nav="true" icon="ion-android-favorite"></ion-icon>
    </nx-nav>
    
    <nx-content (refreshStarted)="refresh($event)">
        <StackLayout class="inset">

            <nx-list>
                <nx-header item-top>
                    <label [text]="'Information & Documents' | Title" class="nx-header-title"></label>
                </nx-header>
                <nx-item animate="true" pageTransition="slide"
                    [nsRouterLink]="['information']">
                    <ion-icon item-left icon="ion-map"></ion-icon>
                    <label [text]="'Information' | Title"></label>
                    <ion-icon item-right icon="ion-chevron-right"></ion-icon>
                </nx-item>
                <nx-item animate="true" 
                    [nsRouterLink]="['startList']">
                    <ion-icon item-left icon="ion-map"></ion-icon>
                    <label [text]="'Start List' | Title"></label>
                    <ion-icon item-right icon="ion-chevron-right"></ion-icon>
                </nx-item>
            </nx-list>

            <nx-list>
                <nx-header item-top>
                    <label [text]="'Competition & Results' | Title" class="nx-header-title"></label>
                </nx-header>
                <nx-item animate="true" pageTransition="slide"
                    [nsRouterLink]="['gradeList']">
                    <label [text]="'Grades' | Title "></label>
                    <ion-icon item-right icon="ion-search"></ion-icon>
                </nx-item>
                <nx-item animate="true" pageTransition="slide"
                    [nsRouterLink]="['clubList']">
                    <ion-icon item-left icon="ion-ios-people"></ion-icon>
                    <label [text]="'Clubs' | Title"></label>
                    <ion-icon item-right icon="ion-search"></ion-icon>
                </nx-item>
                <nx-item animate="true" pageTransition="slide"
                    [nsRouterLink]="['findCompetitor']">
                    <ion-icon item-left icon="ion-ios-people"></ion-icon>
                    <label [text]="'Find a Competitor' | Title"></label>
                </nx-item>
                <!--<nx-item animate="true" 
                    [nxRoute]="[
                        'Region.Competition.Stats',
                        { regionId: context.RegionId, competitionId: context.CompetitionId }]">
                    <ion-icon item-left icon="ion-ios-people"></ion-icon>
                    <label [text]="'Stats' | Title"></label>
                </nx-item>-->
            </nx-list>


        </StackLayout>
    </nx-content>
    
    
</nx-drawer>
    
    

    

