<nx-drawer>
    <competition-nav drawer-aside-left></competition-nav>
    
    <nx-nav>
        <label class="title" [text]="(competition|async)?.Name" style="horizontal-align:center"></label>
        <ion-icon nav-right nav="true" icon="ion-android-favorite"></ion-icon>
    </nx-nav>
    
    <nx-content (refreshStarted)="refresh($event)">
        <StackLayout class="inset">
            <nx-list>
                <nx-header item-top>
                    <label [text]="'Competition & Results' | Title" class="nx-header-title"></label>
                </nx-header>
                <nx-item animate="true" pageTransition="slide" [nsRouterLink]="['startList']">
                    <nx-icon item-left icon="assignment"></nx-icon>
                    <label text="Start list"></label>
                    <nx-icon item-right icon="chevron_right"></nx-icon>
                </nx-item>
                <nx-item animate="true" pageTransition="slide" [nsRouterLink]="['gradeList']">
                    <nx-icon item-left icon="assignment"></nx-icon>
                    <label text="Grades"></label>
                    <label class="note" [text]="gradeCount|async"></label>
                    
                    <nx-icon item-right icon="chevron_right"></nx-icon>
                </nx-item>
                <nx-item animate="true" pageTransition="slide" [nsRouterLink]="['clubList']">
                    <nx-icon item-left icon="assignment"></nx-icon>
                    <label text="Clubs"></label>
                    <Label class="note" [text]="clubCount|async"></Label>
                    <nx-icon item-right icon="chevron_right"></nx-icon>
                </nx-item>
                <nx-item animate="true" pageTransition="slide" [nsRouterLink]="['findCompetitor']">
                    <nx-icon item-left icon="search"></nx-icon>
                    <label text="Find a Competitor"></label>
                    <nx-icon item-right icon="chevron_right"></nx-icon>
                </nx-item>
                <!--<nx-item animate="true" 
                    [nxRoute]="[
                        'Region.Competition.Stats',
                        { regionId: context.RegionId, competitionId: context.CompetitionId }]">
                    <ion-icon item-left icon="ion-ios-people"></ion-icon>
                    <label [text]="'Stats' | Title"></label>
                </nx-item>-->
            </nx-list>

            <nx-list>
                <nx-item>
                    <label class="note" text="Competitors"></label>
                    <label class="note" [text]="competitorCount|async"></label>
                </nx-item>
            </nx-list>

        </StackLayout>
    </nx-content>
    
    
</nx-drawer>
    
    

    

