$primary-color: green;
$primary-background-color : #FFFFFF;

/* content padding */
$primary-content-padding : 14;


/* font colors */
$font-primary-color : #000;
$font-primary-color1 : lighten( $font-primary-color , 10% );
$font-primary-color2 : lighten( $font-primary-color , 15% );
$font-primary-color3 : lighten( $font-primary-color , 20% );

$font-primary-title-color: #FFFFFF;
$font-primary-title-color1 : darken( $font-primary-title-color, 10% );
$font-primary-title-color2 : darken( $font-primary-title-color, 15% );
$font-primary-title-color3 : darken( $font-primary-title-color, 20% );

$background-color-primary : #01579b;
$background-color-primary-lighter : #4f83cc;
$background-color-primary-darker :#002f6c;

$background-color-secondary : #eceff1;
$background-color-secondary-lighter : #fff;
$background-color-secondary-darker : #babdbe;
