/* colours */

@import 'theme/colors';
@import 'theme/padding';

/* font */
@default-font-size: 20;

/* elements */


button {
    font-size: @default-font-size;
    background-color: #387ef5;
    color: @primary-text
}

.item-list {
    margin-bottom: @default-margin;
}

.inset {
    padding: @default-margin;
}

.item-button {
    font-size: @default-font-size;
    background-color: #000;
    color: @primary-text
}