/* colours */

@header-baclground: #4d75b8;
@primary : #387ef5;
@minor : #548CEC
@primary-background : @primary;
@primary-text: #FFF;
@default-padding : 12;
@default-padding-top-bottom : 8;
@default-padding-short: @default-padding/2;
@default-margin: 12;

/* font */

@font-size-default: 20;
@font-size-small: 14;
@font-size-h1: 26;

/* elements */

.icon {
    font-size: @font-size-default;
    margin: @default-margin/4;
}

.ion-icon {
    font-family: "Ionicons";
    /* file must match exactly (indluding case) Ionicons.ttf */
    /* app/fonts/Ionicons.ttf */
    /* cheat sheet http://ionicons.com/cheatsheet.html */
    font-size: @font-size-h1 ;
    margin-right: @default-margin;
    color: @header-baclground;
}

.fa-icon {
    font-family: "FontAwesome";
    /* file must match exactly (indluding case) Ionicons.ttf */
    /* app/fonts/FontAwesome.ttf */
    /* cheat sheet https://fortawesome.github.io/Font-Awesome/cheatsheet/ */
}

.material-icon {
    font-family: 'Material-Design-Iconic-Font';
    /* file must match exactly (indluding case) Ionicons.ttf */
    /* app/fonts/Material-Design-Iconic-Font.ttf */
}


.inset {
    padding: @default-margin;
}

.note {
    font-size: @font-size-small;
    color: #666666;   
}


Page {
    background-color: white;
    font-size: @font-size-default;
    padding: 0;
}

label {
    font-size: @font-size-default;
    color: black;
}

button {
    font-size: @font-size-default;
    background-color: #387ef5;
    color: @primary-text
}

.nx-header-outer {
    
}

.nx-header-inner {
    
}


.nx-header {
    padding: @default-padding;
    padding-top: @default-padding-top-bottom;
    padding-bottom: @default-padding-top-bottom;
    border-radius: 4;
    font-size: @font-size-h1;    
    background-color:#4d75b8;
    color:@primary-text;
}
.nx-header-ext {
    background-color:#4d75b8;
}

.nx-header-title {
    font-weight: bold;
    color:@primary-text;
}

.nx-list-outer{}
.nx-list {
    //padding-bottom: @default-padding;
    //padding-top: @default-padding-short;
    //padding-left: @default-padding-short;
    //padding-right: @default-padding-short;
    margin-bottom: @default-margin;
}

.nx-item {
    border-bottom-width: 1;
    border-color: #c8c7cc;
    border-style: solid;
    padding-top: @default-padding;
    padding-bottom: @default-padding;
}

.item-button {
    font-size: @font-size-default;
    background-color: #c8c7cc;
    color: @primary-text
}

.nx-nav-inner {
    margin-bottom: @default-padding-short;
    margin-top: @default-margin*2;
}
.nx-nav {
    background-color: @primary;
    
    .ion-icon {
        color: @primary-text
    }
    Label {
        color: @primary-text
    }
}


.nav-title {
    color: @primary-text
}

.sidebar {
    border-right-width: 1;
    border-color: #c8c7cc;
    border-style: solid;
    padding-top: @default-padding;
    padding-bottom: @default-padding;
} 

.active{
    background-color: #387ef5;
}