/* colours */
/* padding */
/* font */
/* elements */
.inset {
  padding: 16;
}
button {
  font-size: 20;
  background-color: #387ef5;
  color: #FFF;
}
.item-button {
  font-size: 20;
  background-color: #000;
  color: #FFF;
}
