@import "../_app-variables.scss";

$nav-background-color: $background-color-primary;
$nav-background-color1: $nav-background-color;
$nav-background-color2: lighten($nav-background-color, 5% );

$nav-margin: $primary-content-padding;
$font-color: $font-primary-title-color; 

$nav-border-color1: lighten($nav-background-color, 1% );
$nav-border-color2: lighten($nav-background-color, 2% );

.nx-nav-row {
  height: 40;
  padding : 0;
    
  .title {
      color: $font-color;
      font-weight: bold;
      text-align: center;
  }
  .nx-nav-col {
      padding-left: $nav-margin;
      vertical-align: center;
  }
  .nx-nav-col2 {
      text-align: center;
      horizontal-align:center;

      label {
        vertical-align: center;
      }
  }
  .nx-nav-col3 {
      padding-right: $nav-margin;
  }
}

.nx-nav-wrapper {
    border-bottom-color: $nav-border-color2;
    border-bottom-width: 1;
    border-bottom-style: solid;
}

.row1 {
    .nx-nav-row {
        background-color: $nav-background-color1;
    }   
    border-bottom-color: $nav-border-color1;
    border-bottom-width: 1;
    border-bottom-style: solid;
}
.row2 {
    .nx-nav-row {
        background-color: $nav-background-color2;
    }
    border-bottom-color: $nav-border-color2;
    border-bottom-width: 1;
    border-bottom-style: solid;
}

/* icon overrides */
$nav-icon-background-1: lighten($nav-background-color, 6%);
$nav-icon-background-2: lighten($nav-background-color, 8%);
$nav-icon-border-color1: darken($nav-icon-background-1, 2%); 
$nav-icon-border-color2: darken($nav-icon-background-1, 4%); 
$nav-icon-font-color: #fff;


.nx-nav {
    .icon-layer-front {
        background-color: $nav-icon-background-1;
        border-color: $nav-icon-border-color1;
    }
    .icon-layer-back{
        background-color: $nav-icon-background-2;
        border-color: $nav-icon-border-color2;
    }

    .icon-wrapper {
        .icon-text {
            color: $nav-icon-font-color;
        }
    }
}