@import "app/theme/_app-variables.scss";

$icon-background-color: #fff;
$icon-background-color1 : darken($icon-background-color, 5% );
$icon-border-color: darken($icon-background-color, 10% );
$icon-border-color2: darken($icon-background-color, 20% );
$icon-font-color: darken($icon-background-color, 30% );

.icon-wrapper2 {
    background-color:$icon-background-color;
    border-style: solid;
    border-width: 1;
    border-color: $icon-border-color;
    border-radius: 15;
    height: 29;
    width: 29;
}
.icon-wrapper {
    background-color:$icon-background-color1;
    border-style: solid;
    border-width: 1;
    border-color: $icon-border-color2;
    border-radius: 15;
    text-align: center;
    horizontal-align: center; 
    vertical-align: center; 
    height: 28;
    width: 28;
    padding-top: 2;

    .icon-text {
        color: $icon-font-color;
        font-size: 18;
    }
}

