<nx-drawer>
    <start-nav drawer-aside-left></start-nav>
    
    <nx-nav>
        <label class="nx-header-title" text="WHATS MY SCORE" style="horizontal-align:center"></label>
        
        <ion-icon nav-right nav="true" icon="ion-android-favorite"></ion-icon>
    </nx-nav>
    <nx-content (refreshStarted)="refresh($event)">
        
        <StackLayout class="inset">
            
            <nx-list *ngFor="let region of list">
                <nx-header>
                    <Label [text]='region.Name' class="nx-header-title"></Label>
                </nx-header>
                
                <nx-item *ngIf="region.Logo" animate="true" [nsRouterLink]="[region.Id]">
                    
                    <img  [src]='"~/" + region.Logo' height="100" style="border-radius:4" />
                </nx-item>
                
                <nx-item animate="true"
                    [nxRoute]="['Region', { regionId: region.Id }]">
                    
                    <ion-icon item-left icon="ion-ios-star"></ion-icon>
                    <Label [text]='region.CompetitionCount + " Competitions"'></Label>
                    <ion-icon item-right icon="ion-chevron-right"></ion-icon>
                </nx-item>
            </nx-list>
        </StackLayout>
        
    </nx-content>
</nx-drawer>