<nx-drawer>
    <start-nav drawer-aside-left></start-nav>

    <nx-nav>
        <label sub-header class="nx-header-title" [text]="'Whats my Score' | Title" style="horizontal-align:center"></label>

        <ion-icon nav-right nav="true" icon="ion-android-favorite"></ion-icon>
    </nx-nav>

    <nx-content (refreshStarted)="refresh($event)">
        <GridLayout>
            <StackLayout class="inset">
            
                <start-list-main></start-list-main>

                <start-list-search></start-list-search>
                
            </StackLayout>
            
            
            <material-fab text="face" vertical-align="top" horizontal-align="right"></material-fab>
        </GridLayout>
        
        
    </nx-content>
        

</nx-drawer>